// COLOR VARIABLES

:root {
  --theme-snow-white: #fff;
  --theme-main-color: #26A69A;
  --theme-bg-gray: #eeeeee;
  --theme-bg-light-gray: #fafafa;
  --theme-text-light-gray: #BDBDBD;
  --theme-text-gray: #9E9E9E;
}

// LAYOUT VARIABLES
$to-mobile-mini: 400;
$to-mobile: 600;
$to-tablet-portrait: 767;
$to-tablet-landscape: 1024;
$to-screen: 1200;
$to-screen-large: 1400;
$to-screen-extra-large: 1600;
